
.header{
  display:flex;
  justify-content: space-between;
  align-items: center;
}
.pointer{
  display: flex;
  gap: 20px;
  align-items: center;
}
.user {
  display: flex; 
  align-items: center;  
  cursor: pointer; 
  background-color:rgba(3, 8, 31, 1);
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: rgba(255, 255, 255, 1);
  border-radius: 120px;
  height: 45px;
  width: 150px;
  justify-content: center;
}

.user img {
  width: 35px; 
  height: 30px; 
}
.highlight{
  background-color: rgba(252, 138, 6, 1);
  color: rgba(255, 255, 255, 1);
  padding: 10px 15px;
  border-radius: 120px;
  cursor: pointer;
}
.point{
  cursor: pointer;
}
